* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --fs-mobile-title: "Staatliches", cursive;
    --fs-mobile-text: "Palanquin", sans-serif;
    --fs-web-text-header: "Roboto", sans-serif;
    --fs-web-text-contact: "Open Sans", sans-serif;
  
    --bg-header: hsla(218, 17%, 62%, 1);
    --bg-title-header: hsla(275, 18%, 79%, 1);
    --fc-title: hsla(0, 0%, 100%, 1);
  
    --fc-bg-main: hsla(233, 100%, 97%, 1);
    --fc-main-text: hsla(274, 84%, 12%, 1);
    --fc-item: hsla(312, 91%, 96%, 1);
    --bg-main-item: hsla(232, 17%, 35%, 1);
  
    font-size: 62.5%;
  }
  .page {
    width: 38.5rem;
    margin: 0 auto;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3.2rem;
  
    width: 38.5rem;
    height: 27.9rem;
  
    background-color: var(--bg-header);
  }
  .box-title {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 38.5rem;
    height: 4.9rem;
  
    background-color: var(--bg-title-header);
  }
  header p {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  
    font-family: var(--fs-mobile-title);
    color: var(--fc-title);
    font-size: 4rem;
    line-height: 3.4rem;
    letter-spacing: 0.5px;
  }
  main {
    width: 38.5rem;
    padding: 1.6rem 3.2rem 6rem 3.2rem;
    background-color: var(--fc-bg-main);
  }
  .box-paragraph {
    margin-bottom: 6.3rem;
    width: 30.5rem;
    text-align: center;
    color: var(--fc-main-text);
    font-family: var(--fs-mobile-text);
    line-height: 1.5rem;
    font-size: 1.35rem;
  }
  .ice-cream-box {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  .ice-item {
    position: relative;
  }
  .ice-item div {
    width: 11.2rem;
    height: 3.5rem;
    border-radius: 2rem;
  
    background-color: var(--fc-item);
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-family: var(--fs-mobile-title);
    font-size: 2rem;
    line-height: 3.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--bg-main-item);
  
    position: absolute;
    top: 17px;
    right: 17px;
  }
  @media (min-width: 200px) {
    .box-text {
      display: none;
    }
    .group-item2 {
      display: none;
    }
    .group-item1,
    .group-item3 {
      display: grid;
      gap: 3.2rem;
    }
    .box-contact {
      display: none;
    }
  }
  @media (min-width: 768px) {
    .page {
      width: 50rem;
    }
    header {
      width: 50rem;
    }
    .box-text {
      display: none;
    }
    .box-title {
      width: 50rem;
    }
    main {
      width: 50rem;
    }
    .box-paragraph {
      font-size: 1.8rem;
      line-height: 1.8rem;
      width: 40rem;
      margin: 0 auto;
      margin-bottom: 6.3rem;
    }
    .ice-item {
      margin: 0 auto;
    }
  }
  @media (min-width: 900px) {
    .page {
      width: 80rem;
    }
    header {
      width: 80rem;
    }
    .box-title {
      width: 80rem;
    }
    .box-text {
      display: none;
    }
    main {
      width: 80rem;
    }
    .box-paragraph {
      font-size: 2rem;
      line-height: 2.5rem;
      width: 60rem;
      margin: 0 auto;
      margin-bottom: 6.3rem;
    }
    .ice-cream-box {
      display: grid;
      grid-template-areas: "A B";
    }
  }
  @media (min-width: 1200px) {
    .page {
      margin: 0;
      width: 100vw;
      display: flex;
    }
    header {
      justify-content: start;
      padding-top: 1.6rem;
      width: 37.7rem;
      height: 100vh;
    }
    .box-title {
      width: 100%;
    }
    .box-text {
      display: block;
      font-family: var(--fs-web-text-header);
      font-size: 1.7rem;
      line-height: 2.2rem;
      text-align: center;
      color: var(--fc-title);
      padding: 3.2rem;
    }
    .box-paragraph {
      display: none;
    }
    main {
      width: 100vw;
      height: 100vh;
      padding-left: 9.8rem;
    }
    .group-item2 {
      display: grid;
      gap: 3.2rem;
    }
    .ice-cream-box {
      grid-template-areas: "A B C";
    }
    .ice-item img {
      width: 28rem;
    }
    .group-item2 {
      grid-area: A;
    }
    .group-item1 {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }
    .order1 {
      order: 2;
    }
    .order2 {
      order: 1;
    }
    .box-contact {
      display: block;
      text-align: center;
      margin-top: 5rem;
      font-size: 1.4rem;
      line-height: 2rem;
      font-family: var(--fs-web-text-contact);
      color: var(--bg-main-item);
    }
  }