* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
li {
  text-decoration: none;
  list-style: none;
}
body {
  background: #2f2e41;
  font-family: "Open Sans", sans-serif;
}
.page {
  width: 1280px;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 71px;
  margin-bottom: 100px;
}
ul {
  display: flex;
  gap: 64px;
}
li a {
  color: #fff;
  font-family: "JetBrains Mono", monospace;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 170px;
}
section {
  width: 605px;
  justify-self: center;
}
section h1 {
  color: #fff;
  font-family: JetBrains Mono;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 51px;
}
section h1 span {
  color: #00bfa6;
}
section p {
  color: #c2c2c2;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 28px;
}
section p span {
  color: #00bfa6;
  font-weight: bold;
}
footer {
  text-align: center;
  color: #fff;
  font-family: JetBrains Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;

}
.line{
    margin: auto;
    margin-bottom: 27px;
    background: #00BFA6;
    height: 1px;
    width: 568px;
}
#padlock{
    position: fixed;
    left: 20px;
    
}